header, main, footer {
    padding: 10px;
}

header {
    background-color: rgb(197, 128, 128);
    
    
}

main {
    background-color: bisque;
}

footer {
    background-color: rgb(126, 69, 69);
    color: antiquewhite;
}