header, main, footer {
    padding: 10px;
}


header {
    background-color: rgb(197, 128, 128);
    text-align: center;
    grid-area: header;
}

main {
    background-color: bisque;
    grid-area: main;
    
}

footer {
    background-color: rgb(126, 69, 69);
    color: antiquewhite;
    grid-area: footer;
}

aside {
    grid-area: sidebar;
    background-color: antiquewhite;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


body {
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-areas: 
    'header header'
    'sidebar main'
    'footer footer'
    ;
}